/*
czcionki
*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
}
#main-nav {
	background-color: #ffffff;
    width: 100%;
    position: fixed;
}
nav#main-nav ul li {
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 300;
    color: #1ac056;
    float: right;
}
nav#main-nav ul li:hover {
    color: #291f1a;
}