/*
czcionki
*/

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
}

/*NAWIGACJA*/

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

nav#main-nav {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

/* ZAJECIA
nav#main-nav > ul {
    float: right:
    margin:0;
}
nav#main-nav > ul > li {
    display: inline-block;
    padding: 20px 40px;
}
nav#main-nav > ul > li a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}
nav#main-nav > ul > li a:hover {
    color: #291f1a;
}
*/

nav#main-nav ul li {
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 300;
    color: #1ac056;
    float: right;
    padding: 20px;
}

nav#main-nav ul li:hover {
    color: #291f1a;
}

/*NAWIGACJA-KONIEC*/

/*HEADER*/

#main-header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    ;
    background-position: center;

}

#main-header h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 100px;
}

#main-header h2 {
    color: white;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    position: absolute;
    font-size: 50px;
    font-weight: 50;
}

div.main-header-content {
    padding: 30vh;
}


/*   ZAJECIA
header#main-header {
    background-image: url("../img....");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

header#main-header .main-header-content {
    padding: 30vh;
    text-align: center;
}

header#main-header .main-header-content h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

span {
    color: #1ac056;
}

header#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 300;
}

.main-header-content {    drugi sposob
 position: absolute;
    width: 100%;
    top: 50%;
 transform: translateY(-50%);
}


*/



/*HEADER-KONIEC*/

/*SEKCJA ABOUT*/

span {
    color: #1ac056;
}

section {
    width: 100%;
    padding: 0 80px 100px;
}

#about {
    padding:0 80px 100px;
    width: 100%;
    background-color: #f9fcfe;
    overflow: hidden;
    
}
#about > h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
}
#about img {
    max-height: 350px;
    width: 50%;
    border: 15px white solid;
}

#about article {
    width: 50%;
    float: left;
}

#about figure {
    max-width: 50%;
    margin: 0;
    float: left;
    
}
/*
section {
    width: 100%;
    padding: 0 80px 100px;
}

section#about {
    background-color: #asda;
    overflow: hidden;
}
section#about > figure { 
    text-align: center;
    margin: 0;
    margin-right:30px;
    float: left;
}

section#about > figure > img {
    border: 14px solid white;
    border-radius: 15px;
    max-width: 100%;
    max-height : 350px;
}

.col-1-2 {  (do about-content i figure)
float:left;
width:50%;
}
*/



/*SEKCJA ABOUT KONIEC*/

/*SEKCJA umiejetnosci*/
#skills {
	text-align: center;
}
#skills > p {
    text-align: center;
}    

#skills #skills-icons figure {
    display: inline-block;
    text-align: center;
}
#skills #skills-icons figure ficaption {
    text-transform: uppercase;
}
/*SEKCJA umiejetnosci koniec*/